/*!
 * PRC Custom CSS
 *
 * Copyright 2012 Plymouth Rock Group
 */
 
/* GLOBAL SETTINGS */
html, head, body {
    margin: 0;			
    padding: 0;
    font-size: 0.88em;
    font-family: "Segoe UI", "Arial", sans-serif;
}

/* DISPATCH SPECIFIC SETTINGS */
.div-right {
    float: right;
}
.div-left {
    float: left;
}
.span-error-left .ui-icon .ui-icon-alert {
    margin-right: 0.3em; float: right;
}
#ajaxSpinnerImage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    /* the image is 100x100, so we use negative margins of 1/2 that size to center it*/
    margin: -50px 0 0 -50px;
    z-index: 3000;
}
#error-message {                 
    display: none;
    float: right;
}


/* AUTOCOMPLETE EXTENDS */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
/*    padding-right: 20px;*/
}
.ui-autocomplete-loading { 
    background: url('images/spinner.gif') center no-repeat; 
}

/* JQGRID CSS OVERRIDES */
.prc-jqgrid-alt-row{
    background: #E5EFFB; 
    font-weight: normal; 	
}
.ui-jqgrid tr.ui-row-ltr td {
    border-color: #EBF5FF;
}
table.EditTable > tbody > tr.FormData > td.DataTD > input[type="text"] {
    width: 175px !important;
}
table.EditTable > tbody > tr.FormData > td.DataTD > input[type="checkbox"] {
    width: 75px !important;
}
.ui-pg-button.ui-corner-all {
    border: 1px solid #999;
    font-size: 100%;
/*    background: #d4e5f5;*/
}
.ui-pg-table.navtable {
    border-spacing: 3px 0px;
}

/*.CaptionTD {
    vertical-align: top;
}

.ui-jqdialog-content .CaptionTD { 
vertical-align: top;
}*/

/*table.EditTable > tbody > tr.FormData > td.DataTD > select, 
table.EditTable > tbody > tr.FormData > td.DataTD > input, 
table.EditTable > tbody > tr.FormData > td.DataTD > textarea {
    width: 75px !important;
}*/


.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative; 
  margin: 0em; 
  padding: 0; 
  /*overflow: auto;*/ 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align: center;
}


/* DATEPICKER CSS OVERRIDES */
.ui-datepicker {
    z-index: 1200;
}

/* TIMEPICKER CSS */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* MULTISELECT CSS */
.ui-multiselect { border: solid 1px; font-size: 0.8em; }
.ui-multiselect ul { -moz-user-select: none; }
.ui-multiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-multiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-multiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-multiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-multiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-multiselect ul.available li { padding-left: 10px; }
 
.ui-multiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-multiselect .ui-state-hover { border: none; }
.ui-multiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-multiselect .add-all { float: right; padding: 7px;}
.ui-multiselect .remove-all { float: right; padding: 7px;}
.ui-multiselect .search { float: left; padding: 4px;}
.ui-multiselect .count { float: left; padding: 7px;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-multiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-multiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }

/*google maps autocomplete*/
.pac-container, .pac-item {
   z-index: 2147483647 !important;
   min-width: 25% !important;
}